body {
    display: fixed;
    background-color:aqua; 
    text-align: center;
}
.inputtext{
   
    width: 300px;
}
h1{
    color:white;
}
div{
    width: 600px;
    background-color:cadetblue ;
    padding: 20px;
    margin: auto;
    display: block;
    text-align: left;
    justify-content: left;
}

label{
    text-align: left;
    color:bisque;
    font-weight: bold;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    margin:10px;
}